pipeline/CopyAllTables.json
{
	"name": "CopyAllTables",
	"properties": {
		"activities": [
			{
				"name": "Look For All Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select s.name  Schemaname\n,      t.name Tablename\nfrom sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id   = s.schema_id\nWHERE s.name     = 'Sales';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSchematable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look For All Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look For All Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Each Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().Schemaname,'.',item().Tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerCopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetTables",
									"type": "DatasetReference",
									"parameters": {
										"Schemaname": {
											"value": "@item().Schemaname",
											"type": "Expression"
										},
										"Tablename": {
											"value": "@item().Tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-12-10T15:14:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}